<br>
<br>
<br>
<div class="jumbotron">
  
  <h1><%= @event.name %></h1>
  <br/>
  <%= @event.time %>
  <br/>
  <%= @event.address %>
  <br/>
  <%= @event.description %>

              <p><a class="btn btn-danger btn-lg" href="/events" role="Event Directory">EVENTS</a></p>
     <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x400&sensor=false&markers=#{@event.latitude}%2C#{@event.longitude}" %>
</div>
        